*{
    margin: 0px;
    padding: 0px;

}
body{
    overflow: hidden;
    background: #000;
    height: 100vh;

}
span{
   
    background: url(ilove.png);
    display:;
    position:absolute;
    width: 100px;
    height: 100px;
    pointer-events: none;
    transform: translate(-50% -50%);
   
    background-size: cover;
    animation: love 5s linear infinite;
}
@keyframes love{
    0%{
        transform: translate(-50%,-50%);
        opacity: 1;
        filter: hue-rotate(0deg);
    }
    100%{
       transform: translate(-50%,-500%);
        opacity: 0;
        filter: hue-rotate(920deg);
        
    }
}